/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/secret.yml
/tmp/*
!/tmp/.keep
/.byebug_history
/capybara-*.png
/*-oauth2.json
/discovery.cache
/adops_report_scrapper*.gem